/*
* Rule Styles
*/
.rule {
    color: rgba(0,0,0,.86);
}
.rule h3{
  color: #202020;
}

.rule section{
  background-color: #FFFFFF;
  color: #757575;
  padding: 25px 0 35px 0;
}
.rule section.gray-light{
  background-color: #f5f7f9;
  color: #707172;
}
.rule .code {
  padding-top: 15px;
}
.rule pre code {
    font-size: inherit;
    border: none;
    border-radius: 0;
}
.rule header.site-header {
    background-color: #FFFFFF;
}

.rule .jumbotron {
  padding-top: 45px;
}
.rule .jumbotron h1{
    color: #212121;
}
.rule .jumbotron p{
    color: #757575;
}

.rule hr{
  background-color: #dee5eb;
  margin: 10px 0 0 0;
}

footer.site-footer {
  background-color: #F5F7F9;
}

.rule .center{
  text-align: center;
}

.related {
  margin: 3% 0;
  min-height: 135px;
}

.related div {
  background-color: #f5f7f9;
  float: left;
  padding: 2.5%;
  margin: 0 1.25% 0 0;
  width: 24%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  min-height: 135px;
}
.related div:last-child {
  margin: 0;
}
.related div a{
  color: #4b4b4d;
  font-weight: bold;
  line-height: 1;
  font-size: 16px;
}
.related div a:hover{
  color: #5C666F;
}
